.App {
  text-align: center;
  background-color: var(--monkeez-blue);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-bg {
  background-image: url("./images/banana-background.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.text-shadow-custom {
  text-shadow: 4px 4px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.box-shadow-custom {
  box-shadow: 5px 5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-monkeez-img {
  background-image: url("./images/octopus-with-bg.png");
  background-color: #89d8f7;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slanted-right:after {
  z-index: 49;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: 1px solid maroon;
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Override default class from typewriter-example since we cannot stop cursor blink once its done*/
.Typewriter__cursor {
  display: none;
}

@media screen and (max-width: 640px) {
  .home-bg {
    background-image: none;
  }
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    left: 0;
  }
  to {
    left: var(--percentage-num, 100%);
  }
}

@-webkit-keyframes slide-right {
  from {
    left: 0;
  }
  to {
    left: var(--percentage-num, 100%);
  }
}

.marquee-holder {
  background-color: var(--monkeez-blue);
}

.marquee-img {
  height: 170px;
  width: 170px;
  border: 4px solid black;
  border-radius: 25px;
  margin: 2px;
}

.loader__spinner {
  border: 10px solid rgba(0, 0, 0, 0.25);
  transform: translateZ(0);
  animation: spinner 1.1s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

/* IPAD */

@media screen and (max-width: 1180px) {
  .marquee-img {
    height: 100px;
    width: 100px;
  }
}

/* MOBILE */

@media screen and (max-width: 960px) {
  .marquee-img {
    height: 105px;
    width: 105px;
  }

  .loader__spinner {
    width: 50px;
    height: 50px;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
